@import "../main.css"

.root
{
    -fx-font-size: 70px;
}

#labelGo:hover, #backLabel:hover
{
    -fx-effect: dropshadow( gaussian, white, 5, 0.7, 0, 0);
}

#labelGo:pressed, #backLabel:pressed
{
    -fx-effect: dropshadow( gaussian, white, 15, 0.7, 0, 0);
}

#langCB, #difficultyCB, #registerChb, #musicChb, #soundsChb
{
    -fx-font-size: 40px;
    -fx-font-family: "Arial Bold";
    -fx-font-weight: 400;
    -fx-font-color: white;
    -fx-effect: dropshadow( gaussian, black, 0, 0, 0, 0);
}

#difficultyCB
{
    -fx-font-family: "Courier New";
}

#lableOption1
{
    -fx-margin-bottom: 40px;
}