.root
{
    -fx-background-image: url("../background.png");
    -fx-background-position: center center;
    -fx-background-size: 100% 100%;
    -fx-font-size: 70px;
}

.label
{
    -fx-alignment: top-center;
    -fx-font-family: "Arial Bold";
    -fx-font-weight: 900;
    -fx-font-color: white;
    -fx-effect: dropshadow( gaussian, black, 2, 1, 0, 0);
}

#displayableStringLabel
{
    -fx-font-family: "Courier New";
}

#mainMenuLabel:hover
{
    -fx-effect: dropshadow( gaussian, white, 5, 0.7, 0, 0);
}

#mainMenuLabel:pressed
{
    -fx-effect: dropshadow( gaussian, white, 15, 0.7, 0, 0);
}