@import "../main.css"

.root
{
    -fx-font-size: 50px;
}

#displayableStringLabel
{
    -fx-font-family: "Courier New";
    -fx-font-weight: 400;
    -fx-font-size: 80px;
}

#keyboardpane
{
    -fx-background-image: url("keyboard.png");
    -fx-background-position: center center;
    -fx-background-size: 100% 100%;
}

#highlightImg, #highlightLShiftImg, #highlightRShiftImg, #highlightSpaceImg
{
    -fx-background-color: red;
}