@import "../main.css"

.root
{
    -fx-font-size: 70px;
}

#langCB, #difficultyCB, #registerChb, #musicChb, #soundsChb
{
    -fx-font-size: 40px;
    -fx-font-weight: 400;
    -fx-effect: dropshadow( gaussian, black, 0, 0, 0, 0);
}

#langCB .label, #difficultyCB .label
{
    -fx-font-weight: 100;
    -fx-effect: dropshadow( gaussian, black, 0, 0, 0, 0);
    -fx-font-family: "Courier New";
}