@import "../main.css"

.root
{
    -fx-font-size: 70px;
}

.label:hover
{
    -fx-effect: dropshadow( gaussian, white, 5, 0.7, 0, 0);
}

.label:pressed
{
    -fx-effect: dropshadow( gaussian, white, 15, 0.7, 0, 0);
}

#logoimg
{
    -fx-margin: 500px;
}